@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

$bg-color: #000000;
$text-color: #ffffff;
$link-color: #2c3e50;
$font1: 'Quicksand';
body{
    background-color: $bg-color;
    color: $text-color;
    font-family: $font1, sans-serif;
}
a{
    color: $link-color;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}